{
	"port"		: "8009",
	"development"	: "true",
  "host"      : "localhost",
	"dbhost"     	: "aquariadb.crzff6hekdup.us-east-1.rds.amazonaws.com",
	"dbuser"     	: "read_only",
	"dbpassword" 	: "Aquaria_4_the_win!",
	"database" 	: "aquaria",
	"major_version"	: "1",
	"minor_version"	: "0",
  "googleHostedService" : "",
  "googleAnalyticsID" : "[your analytics ID]",
  "googleAnalyticsHostname" : "[your analytics hostname]"
}
