<div id="logo"><img src="/images/aquaria-logo.png" alt="Aquaria Logo" />
    <div id="wait"><img src="/images/aquaria-spin.gif" alt="Loading" title="Loading data..."></div>
</div>

<p id="intro"><span class="small"><a href="javascript:showAbout();">Updated: <span class="lastupdate">23rd Mar 2015</span></a></span><br>
    <a href="javascript:showAbout();" style="color:#DDD;">About</a> | <a target='_blank' style="color:#DDD;" href='https://www.biostars.org/t/aquaria'>Forum</a> | <a href="javascript:showExplanations();" style="color:#DDD;">Help</a>
    <br></p>

<!--Specify a Protein -->
<div class="panel" id="searchByName">
    <h3>Specify a Protein</h3>
    <span class="content">
        <form id="myform" name="myform" ACTION="#" method="post"> 
            <p id="input1"><input class="search" type="text" id="protein_syn_input" name="protein_syn_input" placeholder="Protein name or ID" autocomplete="off" data-intro="START HERE - specify a protein name (or UniProt identifier, or PDB ID), then press 'Enter'." data-position="right" /></p>		
            <div id='psyns'><p>(example: <a href="javascript:fillin('p53');">p53</a> or <a href="javascript:fillin('P04637');">P04637</a>)</p></div>
            <div style="display:none;" id='gsyns'><p>&nbsp;</p></div>
            <p id="input2"><input class="search"  type="text" id="organism_syn_input" name="organism_syn_input" placeholder="Organism" autocomplete="off" data-intro="Enter an organism name (human is default)." data-position="right" /></p>
            <div id='osyns'><p>&nbsp;</p></div>
            <!--<input type="hidden" id="organismid" name="organismid" value="9606"/>-->
        </form>
    </span>
</div>

<!--Upload a file-->
<div class="panel" id="uploadFile">
    <h3>Fasta</h3>
    <span class="content">
        <form action="/fasta" method="post" enctype="multipart/form-data">
            <p class="fileUpload" id="fileInput">
                <span>Select or drop a file</span>
                <input class="upload" type="file" id="fileUpload" name="fileUpload" placeholder="..." autocomplete="off" data-intro="Upload a file from your computer" data-position="right" />
            </p>
        </form>
        <% if (typeof sequences != "undefined") { %>
        <p>
        Parsed sequences:
        <ul style="padding: 0 6px; margin: 0.5em 0 0 0; list-style: none;">
            <% for(var i=0; i < sequences.length; i++) { %>
            <li>
                <a href='#' class="fasta_file_id_selected" data-name="<%= sequences[i].name %>" data-accession="<%= sequences[i].Primary_Accession %>">
                    <% if (typeof sequences[i].Primary_Accession != "undefined") { %>
                        <%= sequences[i].Primary_Accession %>
                    <% } else { %>
                        No hit
                    <% } %>
                </a>
            </li>
            <% } %>
        </ul>
        </p>
    <% } %>
    </span>
</div>

<script>
    $('.fasta_file_id_selected').click(function(){
        var element = $(this).data();

        if(element.accession){
            startLogoSpin();
            AQUARIA.loadAccession([element.accession], null, null, false, element.name);
        } else {
            
        }
    });

</script>

<!--Paste your Sequence-->
<div class="panel" id="pasteSequence">
    <h3>Paste your sequence</h3>
    <span class="content">
        <form> 
            <p id="sequenceInput"><input type="text" id="sequenceUpload" name="sequenceUpload" placeholder="GGCAGATTCCCCCTAGAGT..." autocomplete="off" data-intro="Paste a sequence" data-position="right" /></p>
        </form>
    </span>
</div>

<!--More information-->
<div class="panel" id="about" data-intro="UniProt summary of the specified protein's function." data-position="right" >
    <h3>About <span class="explanation"> Uniprot ID</span></h3>
    <div id="uniProtDesc"></div>					
</div>